{% load core_tags %}


<h1 class="text-4xl font-bold">{{title}} {{title_prefix}}</h1>
<br />

<div class="flex flex-col gap-8 xl:flex-row justify-between">
    {# rirght side #}
    <div class="grow">
        <div class="w-full flex justify-end py-1 space-x-2  ">
            <form class="max-w-xs [&_input]:input [&_input]:input-bordered [&_input]:border-base-300"
                action="{% url 'web:blogs_by_search' %}">
                {% for field in search_form %}
                <div class="flex items-center gap-2">
                    <span class="icon-[iconamoon--search] h-8 w-8"></span> {{field}}
                </div>
                {% endfor %}
            </form>
        </div>
        <br>
        <div class="grid md:grid-cols-2 lg:grid-cols-3  gap-8 w-full">

            {# card #}
            {% for blog in object_list %}
            <div class="card rounded-md w-full bg-base-100 shadow-xl">
                <a href="{% url 'web:blog_detail' slug=blog.slug %}" class="block">
                    <figure>
                        {% if blog.image %}
                        <img src="{{blog.image.url}}" alt="Shoes" />
                        {% endif %}
                    </figure>
                    <div class="card-body p-4">
                        <h2 class="card-title">
                            {{blog.title}}
                            {% if blog.category %}
                            <a href="{% url 'web:blogs_by_category' slug=blog.category.slug%}">
                                <div class="badge badge-secondary">{{blog.category.name}}</div>
                            </a>
                            {% endif %}
                        </h2>
                        <p>{{blog.short_desc}}</p>
                        <div class="card-actions justify-end">

                            {% if blog.tags %}
                            {% for tag in blog.tags.all %}
                            <a href="{% url 'web:blogs_by_tag' slug=tag.slug%}">
                                <span class="badge badge-outline">{{tag.name}}</span>
                            </a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            {%endfor%}
        </div>
        <br />
        <br />
        <div class="w-full flex justify-end">
            <div class="join flex-wrap">
                {% if page_obj.has_previous %}
                <a href="?{%get_query_string_excluding 'page'%}&page=1"><button class="join-item btn">&laquo;
                        first</button></a>
                <a href="?{%get_query_string_excluding 'page'%}&page={{ page_obj.previous_page_number }}"><button
                        class="join-item btn">&laquo;
                        Previous</button></a>
                {% endif %}
                {% for p in page_obj.paginator.page_range %}
                <div>
                    {% current_page_is p as isCurrentPage %}
                    <a href="?{%get_query_string_excluding 'page'%}&page={{p}}"><button
                            class="join-item btn {{isCurrentPage|yesno:'btn-active,,'}}">{{p}}</button></a>
                </div>
                {% endfor %}


                {% if page_obj.has_next %}
                <a href="?{%get_query_string_excluding 'page'%}&page={{page_obj.next_page_number}}"><button
                        class="join-item btn">Next
                        &raquo;</button></a>
                <a href="?{%get_query_string_excluding 'page'%}&page={{ page_obj.paginator.num_pages }}"><button
                        class="join-item btn">Last
                        &raquo;</button></a>
                {% endif %}
            </div>
        </div>
    </div>

    {# left side #}
    <div class="w-full xl:max-w-72 h-min shadow-lg border p-4 rounded-2xl space-y-2">
        <h2 class="text-xl font-bold">Categories</h2>
        <ul>
            {% for c in categories %}
            <li><a href="{% url 'web:blogs_by_category' slug=c.slug %}"
                    class="btn-link text-lg no-underline">{{c.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>