{% extends master_template %}

{% block master %}
<div class="flex justify-center items-center w-full my-20">
    <form action="{% url 'web:password_reset' %}" method="post"
        class="flex flex-col justify-center gap-4 items-center border shadow-xl rounded-xl p-4 w-full max-w-sm">
        <h1 class="text-xl font-bold">Forgot Password?</h1>
        <p class="text-center">Please enter your register email to recieve reset link </p>
        {%csrf_token%}
        {{form}}
        {{form.errors}}
        <button type="submit" class="btn btn-primary w-full max-w-xs">Get Reset Link</button>
    </form>
</div>
{% endblock master %}