{% extends master_template %}

{% block master %}

<div class="flex justify-center items-center w-full my-32">
    <div class="flex flex-col justify-center gap-4 items-center border shadow-xl rounded-xl p-4 w-full max-w-sm">
        <h1 class="text-xl font-bold">Email Sent!</h1>
        <p class="text-center">Please check you email and click password reset link</p>
        <a href="{% url 'web:home'%}" class="btn btn-primary w-full max-w-xs">Back to home</a>
    </div>
</div>
{% endblock master %}