{% csrf_token %}
{{form.media}}
{% for field in form %}
{% if field.widget_type == 'text'%}
<div class="form-control w-full max-w-xs">
    <label for="{{field.id_for_label}}" class="pb-1">{{field.label}}</label>
    {{ field}}
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="help" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{%elif field.widget_type == 'ckeditoruploading'%}
<div class="form-control flex-col w-full">
    <div class="flex flex-col gap-2">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{ field }}
    </div>
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="help" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{%elif field.widget_type == 'clearablefile'%}
<div class="form-control">
    <div class="flex flex-col gap-2">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{ field }}
    </div>
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="help" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{%elif field.widget_type == 'checkbox'%}
<div class="form-control w-full">
    <div class="flex justify-start items-center gap-2">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{ field }}
    </div>
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="help" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{%elif field.widget_type == 'radio'%}
<div class="form-control w-full">
    <div class="flex justify-start items-center gap-2">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{ field }}
    </div>
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="help" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{%elif field.widget_type == 'select'%}
<div class="form-control w-full max-w-xs">
    <div class="flex flex-col gap-2">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{ field }}
    </div>
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="help" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{% endif %}
{% endfor %}

<div class="flex w-full justify-end">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>