{% extends base_template %}

{% block content %}
<h1 class="text-4xl font-bold">Blogs</h1>
<br />
<ul class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 w-full">
  {% for blog in blogs %}
  <div class="card w-full bg-base-100 shadow-xl">
    <a href="{% url 'blog:detail' slug=blog.slug %}" class="block">
      <figure>
        <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          {{blog.title}}
          <a href="{% url 'blog:index-by-category' slug=blog.category.slug%}">
            <div class="badge badge-secondary">{{blog.category.name}}</div>
          </a>
        </h2>
        <p>{{blog.short_desc}}</p>
        <div class="card-actions justify-end">
          {% for tag in blog.tags.all %}
          <a href="{% url 'blog:index-by-tag' tag=tag.name%}">
            <span class="badge badge-outline">{{tag.name}}</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </a>
  </div>
  {%endfor%}
</ul>
<br />
<br />
<div class="w-full flex justify-end">
  {% include 'blog/paginate.html' with base_url='blog:index' page_object=page_obj only %}
</div>
{% endblock content %}