{% extends base_template %}

{% block content %}
<h1 class="text-4xl font-bold">{{tag.name}} Blogs</h1>
<br />
<div class="flex flex-col gap-8 grow xl:flex-row justify-between">
  {# rirght side #}
  <div class="grow">
    <div class="grid md:grid-cols-2 lg:grid-cols-3  gap-8 w-full">

      {# card #}
      {% for blog in tag.blogs.all %}
      <div class="card w-full bg-base-100 shadow-xl">
        <a href="{% url 'blog:detail' slug=blog.slug %}" class="block">
          <figure>
            <img src="{{blog.image.url}}" alt="Shoes" />
          </figure>
          <div class="card-body p-4">
            <h2 class="card-title">
              {{blog.title}}
              <a href="{% url 'blog:category-detail' slug=blog.category.slug%}">
                <div class="badge badge-secondary">{{blog.category.name}}</div>
              </a>
            </h2>
            <p>{{blog.short_desc}}</p>
            <div class="card-actions justify-end">
              {% for tag in blog.tags.all %}
              <a href="{% url 'blog:tag-detail' slug=tag.slug%}">
                <span class="badge badge-outline">{{tag.slug}}</span>
              </a>
              {% endfor %}
            </div>
          </div>
        </a>
      </div>
      {%endfor%}
    </div>
    <br />
    <br />
    <div class="w-full flex justify-end">
      {# {% include 'blog/paginate.html' with base_url='blog:list' page_object=page_obj only %} #}
    </div>
  </div>

  {# left side #}
  <div class="w-full xl:w-52 shadow-lg border p-4 rounded-2xl space-y-2">
    <h2 class="text-xl font-bold">Categories</h2>
    <ul>
      {% for c in categories %}
      <li><a href="{% url 'blog:category-detail' slug=c.slug %}" class="btn-link text-lg no-underline">{{c.name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


{% endblock content %}