{{form.media}}
{{form.non_field_errors}}
{% for field in form %}
{% if field.widget_type == 'text' or field.widget_type == 'password' or field.widget_type == 'email' %}
<div class="form-control w-full sm:max-w-xs">
    <label for="{{field.id_for_label}}" class="pb-1">{{field.label}}</label>
    {{ field}}
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="text-info" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{%elif field.widget_type == 'ckeditoruploading'%}
<div class="form-control flex-col w-full">
    <div class="flex flex-col gap-2">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{ field }}
    </div>
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="text-info" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{%elif field.widget_type == 'clearablefile'%}
<div class="form-control w-full">
    <div class="flex flex-col gap-2 w-full sm:max-w-xs">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{ field }}
    </div>
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="text-info" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{%elif field.widget_type == 'checkbox'%}
<div class="form-control w-full">
    <div class="flex justify-start items-center gap-2">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{ field }}
    </div>
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="text-info" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{%elif field.widget_type == 'radio'%}
<div class="form-control w-full">
    <div class="flex justify-start items-center gap-2">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{ field }}
    </div>
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="text-info" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{%elif field.widget_type == 'select' or field.widget_type == 'selectmultiple'%}
<div class="form-control w-full sm:max-w-xs">
    <div class="flex flex-col gap-2">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{ field }}
    </div>
    <div class="flex flex-col">
        {% if field.help_text %}
        <span class="text-info" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
        </span>
        {% endif %}
        {{ field.errors }}
    </div>
</div>
{% endif %}
{% endfor %}