{% extends master_template %}

{% block master %}
<div class="flex justify-center items-center w-full my-10">
    <form action="{% url 'web:password-change' %}" method="post"
        class="flex flex-col justify-center gap-4 items-center border shadow-xl rounded-xl p-4 w-full max-w-sm">
        <h1 class="text-xl font-bold">Change Password!</h1>
        <p>Please enter new password </p>
        {%csrf_token%}
        {{form}}
        <button type="submit" class="btn btn-primary w-full max-w-xs">Change password</button>
    </form>
</div>
{% endblock master %}